@import "./variables.scss";

.navBar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 5;
  padding: 5px 20px;
  padding-left: 30px;
  top: 0;
  right: 0;

  .homeLink {
    color: white;
    font-weight: 500;
    font-family: $sen-font;
    font-size: 2.5rem;
    text-decoration: none;
    display: block;
    z-index: 6;
    
    &:hover {
      color: $accent-color;
    }
  }

  ul {
    background-color: $bg-color;
    box-sizing: content-box;
    margin: 0;
    display: flex;
    padding: 0;
    transition: transform 250ms;
    border-color: $accent-color;
    font-size: 0.9rem;
    li {
      list-style-type: none;
      $padding-top-and-bottom: 0;
      overflow: hidden;
      padding-top: $padding-top-and-bottom;
      padding-bottom: $padding-top-and-bottom;
      a {
        padding: 0.75em 2em;
        text-decoration: none;
        transition: border-color 0.1s ease;
        border: 1px solid transparent;
        border-radius: 5px;
        margin-left: 0.5rem;
        &:hover {
          color: white;
          border-color: $accent-color;
        }
        &.resume {
          border: 1px solid $accent-color;
          transition: background-color 0.1s ease;
          &:hover {
            background-color: transparentize($accent-color, 0.8);
          }
        }
      }
    }
    
    &.showNav {
      transform: translateX(0%);
    }
    &.hideNav {
      transform: translateX(200%);
    }
  }

  .navToggle {
    list-style-type: none;
    font-size: 2rem;
    padding: 0 1rem;
    z-index: 5;
    &:hover {
      color: $accent-color;
      cursor: pointer;
    }
  }

  .mobileNavButton {
    display: none;
  }

  .mobileNav {
    display: block;
  }

  .showMobileNav, .hideMobileNav {
    display: none;
  }
}

.delayedAnimation {
  animation: fly-in 1s ease calc($typing-duration + $typing-delay + 1.5s) backwards;
}
.animation {
  animation: fly-in 1s ease backwards;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
}

@media (max-width: 700px) {
  .navBar {
    position: fixed;

    .showNav {
      display: none;
    }

    .mobileNav, .showMobileNav, .hideMobileNav, .mobileNavButton {
      display: block;
    }
  
    .mobileNavButton {
      color: white;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 2rem;
      z-index: 6;

      &:hover {
        color: $accent-color;
      }
    }

    .mobileNav {
      position: fixed;
      background-color: darken($accent-color, 50%);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      ul {
        background-color: transparent;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        font-weight: 100;
        font-family: $sen-font;
      }

      &.showMobileNav {
        animation: from-right 500ms ease forwards;
      }
      &.hideMobileNav {
        animation: to-right 500ms ease forwards;
      }

      @keyframes from-right {
        from {
          transform: translateX(100vw);
        }
      }
      @keyframes to-right {
        to {
          transform: translateX(100vw);
        }
      }
    }
  }
}