@import "./variables.scss";

:global(.main) .projectsSection {
  padding: 7rem 2rem;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
  }
}