@import "./variables.scss";

:global(.main) .projectsSection {
  padding: 7rem 2rem;
}

.projectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
  }

  .tags {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    
    .tag {
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: transparentize($accent-color, 0.2);
      padding: 0.25rem 0.75rem;
      border-radius: 12px;
      margin: 0;
      white-space: nowrap;
      a {
        font-size: 1.25rem;
        margin-right: -4px;
      }
    }

  }
}