@import "./variables.scss";

.projects {
  display: grid;
  width: 100%;
  $size: 400px;
  grid-template-columns: repeat(auto-fit, $size);
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
  
  .project {
    width: $size;
    height: $size;
    $padding: 2rem;
    background-color: transparentize($accent-color, 0.55);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
    border-bottom: 5px solid $accent-color;
    padding: $padding;
    position: relative;
    overflow: hidden;

    .icons {
      position: absolute;
      top: $padding;
      right: $padding;
      font-size: 2rem;
      z-index: 2;
      display: flex;
      align-items: center;

      a {
        cursor: pointer;
      }
      
      .icon {
        margin-left: 1rem;
      }
    }
    
    h3 {
      font-size: 2rem;
      margin-top: 3.5rem;
      margin-bottom: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        text-decoration: none;
        transition: color 500ms ease;
        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        &:hover {
          color: white;
        }
      }
    }

    .projectDescription {
      font-size: 1.2rem;
      font-weight: 400;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      position: absolute;
      bottom: $padding;
      z-index: 0;
      
      .tag {
        font-size: 1rem;
        background-color: transparentize($accent-color, 0.5);
        padding: 0.25rem 0.75rem;
        border-radius: 12px;
        margin: 0;
        white-space: nowrap;
      }
    }

    &:hover {
      color: white;
      background-color: transparentize($accent-color, 0.8);
      transform: translateY(-10px);
    }
  }
}