@import "./variables.scss";

.projectPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .heading {
    width: 1200px;
    position: relative;

    .title {
      p {
        margin: 0;
        color: $accent-color;
      }
      h1 {
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
    }

    .icons {
      font-size: 3rem;
      align-self: flex-end;
      .icon {
        margin-left: 2rem;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 2rem;
      z-index: 0;
      
      .tag {
        font-size: 1rem;
        background-color: transparentize($accent-color, 0.2);
        padding: 0.25rem 0.75rem;
        border-radius: 12px;
        margin: 0;
        white-space: nowrap;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $accent-color;
    }
  }

  .projectDescription {
    display: flex;
    width: 1200px;
    min-height: 600px;
    .collaborators {
      width: 30%;
      padding: 2rem 1.5rem;
      position: relative;

      h3 {
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      .collaborator {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        position: relative;

        img {
          width: 40px;
          border-radius: 100rem;
        }

        a {
          text-decoration: none;
          font-size: 1.25rem;

          &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: calc(100% - 75px);
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background-color: $accent-color;
      }
    }
    .markdown {
      width: 70%;
      padding: 2rem;

      .readMeTitle {
        margin-bottom: 0.25rem;
        font-size: 1rem;
        color: lighten($bg-color, 50%);
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin-bottom: 1.25rem;
      }

      p, a, ul {
        font-size: 1.3rem;
      }

      pre {
        font-size: 1.25rem;
        background-color: #000;
        padding: 1rem;
      }

      img {
        max-width: 100%;
        margin: 1rem 0;
      }
    }
  }

}