$bg-color: #161617;
$accent-color: #f94679;
// choices: #f94679, #e1f946
$typing-duration: 1s;
$typing-steps: 17;
$typing-delay: 500ms;

$inter-font: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$sen-font: Sen, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;